<div class="conteudo">

<form class="formulario px-5" action="/insert_users" method="post">

<h1 class="my-3">Formulário</h1>

        <!-- Início do Formulário -->
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="your username">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>

                <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="your password">
        </div>

        <button type="submit">Enviar</button> <button type="reset">Limpar</button>
        <!-- Fim do Formulário -->
    </form></div>