<div class="conteudo">

<form class="formulario px-5" action="/insert_produtos" method="post">

<h1 class="my-3">Formulário</h1>

        <!-- Início do Formulário -->
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="yProduct name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Preço</label>
                        <input type="number" class="form-control" id="price" name="price" placeholder="Preço">
        </div>

                <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Imagem</label>
                        <input type="text" class="form-control" id="img" name="img" placeholder="Imagem">
        </div>

        <button type="submit">Enviar</button> <button type="reset">Limpar</button>
        <!-- Fim do Formulário -->
    </form></div>