<form action="/update_users" method="post" class="container d-flex flex-column">
<input type="hidden" name="id" value="{{id}}">
<label for="name">Nome</label>
<input type="text" name="name" placeholder="nome" value="{{name}}">
<label for="email">Email</label>
<input type="text" name="email" placeholder="email" value="{{email}}">
<label for="password">Senha</label>
<input type="text" name="password" placeholder="password" value="{{password}}">
<button type="submit">Atualizar</button>


</form>