<form action="/update_produtos" method="post" class="container d-flex flex-column">
<input type="hidden" name="id" value="{{id}}">
<label for="name">Nome</label>
<input type="text" name="name" placeholder="nome" value="{{name}}">
<label for="price">Preço</label>
<input type="number" name="price" placeholder="price" value="{{price}}">
<label for="password">Imagem</label>
<input type="text" name="img" placeholder="img" value="{{img}}">
<button type="submit">Atualizar</button>


</form>