@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&f[]=zodiak@700,800,400,900,300&display=swap');

*{
    font-family: 'Zodiak', serif;

}


.img-thumb{
    max-width: 50px;
}

body{

min-height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
background: #EBEDFF url('./images/bg.jpg') !important;
background-size: contain !important;
background-position: right bottom !important;
background-repeat: no-repeat !important;


}

.conteudo{
    display: flex;
    flex-direction: column;
 
    justify-content: center;
    padding-left: 2vw;
    height: 85vh;
}

.nav-link{
font-family: 'Satoshi' !important;
}

.title{

max-width: 50%;
color: #202028;
font-size: clamp(1rem, 5vw, 4rem);

}


.navbar-brand{

    font-size: clamp(1rem, 3vw, 3rem) !important;
    font-weight: 700;
    margin-left: 2vw;

}



/* .navbar{

    background-color: #285943 !important; 





}

.nav-link, .navbar-brand{

    color: #D7FFF1 !important;

}

.conteudo{

min-height: 85vh;


}
.image{

width: 40%;



}

.container{

min-height: 90vh;
display: flex;
align-items: center;
justify-content: center;

}


.title{

max-width: 80%;

font-size: 7vw;
color: #285943;

}

footer{

background-color: #285943 ;
color: #D7FFF1;
height: 10vh;

display: flex;
align-items: center;
justify-content: center;


}

footer h3{

    margin: 0 !important;
    padding: 0 !important;

}

.navbar-toggler{
border: none !important;


}

.navbar-toggler-icon{

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(215, 255, 241, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;


}

.formulario{

    min-height: 84.5vh;
} */